header {
    width: 100%;
    height: 100vh;
    position: relative;
}
.icons:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all ease .4s;
}
.nav__bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.6vw;
    color: #fff;
    background-color: #0000003f;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav__bar h1 {
    margin-right: 20px;
}
.nav__links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.nav__link a {
    color: #fff;
    text-decoration: none;
}
.category__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}
.category__text img {
    width: 100%;
    height: 100%;
    margin-top: 2px;
}


.category__container {
    background-color: #000000b4;
    position: absolute;
    top: 60px;
    padding: 16px;
    display: none;
    column-gap: 32px;
}
.category__item a {
    display: block;
    margin-bottom: 12px;
    padding: 6px;
    border: 1px solid transparent;
}
.category__item a:hover {
    border-color: #fff;
    transform: scale(1.1);
    transition: all ease .4s;
}
.search__bar {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 30px;
}
.search__bar img {
    width: 100%;
    height: 100%;
}
.search__bar div,
input{
    background-color: #0000007a;
    border: 1px solid #fff;
    padding: 4px;
    color: #fff;
}
.caroussel__highlights {
    height: 100vh;
}
.caroussel__item {
    position: relative;
    display: none;
}
.caroussel__item img {
    width: 100% ;
    height: 100%;
    object-fit: cover;
}
.caroussel__item div {
    width: 100% ;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    padding: 5.6vw;
}
.caroussel__item h2 {
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: 5.6vw;
    color: #fff;
    font-size: 60px;
    letter-spacing: 2px;
}

.caroussel__item div a {
    background-color: #00000079;
    color: #fff;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
}
.caroussel__item div a:hover{
    background-color: #000000ea;
    color: #fff;
    transform: scale(1.2);
    transition: all ease .4s;
}
.caroussel__item.active {
    display: block;
}
.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal__content {
    color: #fff;
    max-width: 720px;
    width: 100%;
    display: none;
}
.trailer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.trailer__content {
    position: absolute;
    bottom: 30px;
    left: 40px;
}
.trailer__content h2 {
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 2px;
}
.btn-modal{
    background-color: #ffffff85;
    padding: 8px ;
    width: 180px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.btn-modal:hover {
    background-color: #fff;
    transition: background ease 1s;
}
.text__container {
    font-size: 14px;
    background-color: #272727;
    padding: 8 16px 40px 16px;
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 5%;
}
.text__container span {
    margin-right: 4px;
    color: #c4c1c1;
}
.ageRange {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 20px;
}
.ageRange img {
    width: 20px;
    margin-right: 4px;
}
.modal__span {
    margin-left: 4px;
}
.about p{
    margin-bottom: 16px;
}